<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetWorkItems.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GetWorkItems.Properties.Settings>
            <setting name="baseAddress" serializeAs="String">
                <value>https://pedro-ferreira.visualstudio.com</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>abgyke5bkwodbfqw4gxcsv4bbl2k6sxqbfz6eihtxz2xwsuqcrka</value>
            </setting>
            <setting name="sqlConnectionString" serializeAs="String">
                <value />
            </setting>
        </GetWorkItems.Properties.Settings>
    </userSettings>
</configuration>